<div class="articles">
    <div class="article">
        <div class="article__header">
            <h2 class="article__header__title">ФАРЕРЫ</h2>
            <h6 class="article__header__info">ПЕРВЫЙ РАЗ В ИСТОРИИ</h6>
            <p class="article__header__credits">Первоисточник: http://silavetra.com/faroeislands<br/> Авторы: Алиса Сорокина, Яна Сорокина, Ольга Цапко — команда «Силы Ветра»</p>
        </div>
        <div class="article__wrap">
            <div class="article__content">
                <div class="article__content__additional">
                    Пятнадцать человек и семь дней интригующей неизвестности. Все ждали той особенной свободы, присущей только северному морю на краю цивилизации.
                </div>
                <div class="article__content__text">
                    <p>Всё началось праздничным январским вечером. Мы с друзьями собрались, чтобы отметить Рождество, приготовить вкусный ужин и посмотреть кино. С другого конца стола я услышала:</p>

                    <p>— Давайте летом поедем туда!<br />— Куда? — спросила я.</p>

                    <p class="article__break-point">Вместо ответа мне показали фотографии. Я ещё не знала, что это за место, в какой точке Земли находится, как называется, но уже понимала — еду!</p>

                    <p>За этим последовали обычные хлопоты подготовки к поездке: получение визы, приобретение и сбор всего необходимого, поиски информации и составление маршрутов.</p>

                    <p>Вопрос о способе передвижения между островами перед нами не стоял. Две яхты были готовы к отплытию 26 июля 2015 года. Кстати говоря, мы были первыми, кто арендовал яхты на целую неделю. В нашем распоряжении была лоция с подробной информацией о маринах, течениях, ветрах, но никаких фотографий, описаний, отзывов и впечатлений других яхтсменов мы не нашли. Это дало нам прекрасный шанс почувствовать себя первооткрывателями.</p>
                </div>
                <div class="article__content__additional article__content__additional_end">
                    Практически всё, что мы знали о Фарерах, когда садились в самолет, — это то, что овец в этом месте больше, чем людей, что фарерцы охотятся на дельфинов, что там живут смешные птицы под названием тупики, что острова — одно из самых рыбных мест на Земле, и там очень красиво.
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
