<div class="article">
    <div class="article__header">
        <img class="article__header__image" alt="" srcset="img/Unknown-6.jpeg 1280w, img/Unknown-6-md.jpeg 768w, img/Unknown-6-xs.jpeg 320w" />
        <div class="article__header__container">
            <h2 class="article__header__title"></h2>
            <h6 class="article__header__info"></h6>
            <p class="article__header__credits"></p>
        </div>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__additional">
                
            </div>
            <div class="article__content__text">
                <p class="article__content__text__first-p"></p>

            </div>
            <div class="article__content__additional article__content__additional_end">

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
