<div class="article article-100">
    <div class="article__header article__header-100">
        <picture class="article__header__image">
            <source media="(max-width: 320px)"
                    srcset="img/full-1-xs.jpeg">
            <source media="(max-width: 768px)"
                    srcset="img/full-1-md.jpeg">
            <source
                srcset="img/full-1.jpeg">
            <img src="img/full-1.jpeg" />
        </picture>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <h6 class="article__content__text__header">ОЗЕРО СЁРВАГСВАТН</h6>
                <p class="article__content__text__first-p">Фотографии озера, возвышающегося над океаном, вошли, кажется, во все списки самых красивых мест на Земле.</p>
                <p>Это озеро Сёрвагсватн или Лайтисватн (Sørvágsvatn / Leitisvatn). Находится оно на острове Воар в нескольких километрах от аэропорта.</p>
                <p>Автомобильная дорога подходит к озеру только с одной стороны, так что до самых живописных видов придётся пройтись. Однако эта двухчасовая прогулка определённо того стоит. На южной оконечности острова вас ждут высоченные утёсы, завывающий ветер и водопад, летящий прямо в океан.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
