<div class="article article-100">
    <div class="article__header article__header-100">
        <picture class="article__header__image">
            <source media="(max-width: 320px)"
                    srcset="img/full-2-xs.jpeg">
            <source media="(max-width: 768px)"
                    srcset="img/full-2-md.jpeg">
            <source
                srcset="img/full-2.jpeg">
            <img src="img/full-2.jpeg" />
        </picture>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <h6 class="article__content__text__header">ОСТРОВ МИКИНЕС</h6>
                <p class="article__content__text__first-p">Посещение острова Микинес (Mykines) обязательно, если вы добрались до Фарерских островов. На машине туда не попасть, поэтому лучше запланировать поездку заранее: изучить расписание паромов и купить билет или забронировать полёт на вертолёте. Утром вас привезут на остров, вечером заберут обратно.</p>
                <p>Для прогулки по Микинесу вам потребуется обувь с нескользящей подошвой: трава почти всегда мокрая от дождя или тумана. Наградой за тяжёлый подъём, который займёт не менее двух часов, будут единение с природой, туман, который можно потрогать, тупики, бараны и маяк на краю света. </p>
                <p>Что ещё действительно стоит сделать — это захватить с собой пару термосов с чаем, чего-нибудь вкусного и устроить пикник на самой западной точке острова, откуда отрывается вид на бесконечную Атлантику. Несмотря на то, что Микинес считается туристическим местом, мы нашли только одно маленькое, но уютное кафе с вафлями и кофе, которые после пяти часов, проведённых на свежем воздухе, кажутся волшебными.</p>
            </div>
            <div class="article__content__additional article__content__additional-simple">
                <img class="article__content__additional__image" src="img/info-3.jpeg" />
                <p class="article__content__additional-simple__info">На Микинесе тупиков практически можно схватить за хвост. Тут их целые колонии. Поначалу не обращаешь внимания на небольшие углубления в холме, но, приглядевшись, обнаруживаешь, что это норы маленьких птичек, которые рычат оттуда, да-да, именно рычат, защищая свое жилище. Этот звук совершенно не ассоциируется с такими милыми созданиями.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
