<div class="article">
    <div class="article__header">
        <img class="article__header__image" alt="МЕСТНЫЕ ЖИТЕЛИ И ПРОМЫСЕЛ" srcset="img/Unknown.jpeg 1280w, img/Unknown-md.jpeg 768w, img/Unknown-xs.jpeg 320w" />
        <div class="article__header__container">
            <h2 class="article__header__title">МЕСТНЫЕ ЖИТЕЛИ И ПРОМЫСЕЛ</h2>
        </div>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <p class="article__content__text__first-p">На стенах в домах фарерцев висят старые чёрно-белые фотографии, на которых всё большое семейство в вязаных свитерах с национальными узорами стоит рядом с убитым дельфином.</p>
                <p>Различные организации по защите животных пытаются противостоять жестокому убийству. Вокруг островов постоянно курсирует корабль Общества охраны морской фауны и пытается физически помешать забою дельфинов. Однако фарерцы в ответ на агрессивное поведение защитников животных приняли закон, позволяющий применять силу против подобных судов. До сих пор каждый фаререц, которому ещё не довелось участвовать в охоте на чёрных дельфинов (гринд), мечтает об этом. Экспорт китового жира и мяса запрещён, весь улов идет в пищу в зимнее время года.</p>
            </div>
            <div class="article__content__additional article__content__additional-simple">
                <img class="article__content__additional__image" src="img/info-5.jpeg" />
                <p class="article__content__additional-simple__info">Чтобы понять этот обычай, нужно сюда приехать. Нужно посмотреть в глаза человеку, который рассказывает вам, что это традиция, а не развлечение. Это еда, способ выживания на земле, на которой ничего не растет, которая не может прокормить.</p>
            </div>
            <div class="article__content__text">
                <p>На своём пути мы встречали много замечательных, добрых, искренних, порой немного наивных и всегда болеющих душой за чужое горе людей. Привезти переходник для подключения электричества, позвонить главному харбор-мастеру по островам и узнать, можно ли лодкам остаться на ночь, отдать последнюю бутылку охлаждающей жидкости из своей машины — всё это для любого фарерца является само собой разумеющимся.</p>
                <p>Люди на островах никуда не спешат, не торопятся и не бегут. Молодежь весело болтает за столиком с чашечкой кофе, старики, сидя на пристани, витают мыслями где-то далеко и вспоминают былое. Все они наслаждаются этой неспешной жизнью.</p>
                <p>Океан играет большую роль в жизни фарерцев. Он их кормит и дает им работу. Многие с детства и до самой смерти рыбачат, работают на лососевых фермах или рыбоперерабатывающих заводах. Студенты в основном работают в сфере услуг: в кафе и ресторанах, в магазинах, гостиницах и, конечно, на семейных фермах.</p>
            </div>
            <div class="article__content__additional article__content__additional_end">
                Фарерцы — удивительные, волшебные люди. Они не знают обмана, не понимают сарказма. Их дома, как и сердца, всегда открыты.
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
