<div class="article article-header-100">
    <div class="article__header article__header-100">
        <img class="article__header__image article__header__image-100" alt="САКСУН" srcset="img/full-4.jpeg 1280w, img/full-4-md.jpeg 768w, img/full-4-xs.jpeg 320w" />
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <h6 class="article__content__text__header">САКСУН</h6>
                <p class="article__content__text__first-p">В местечке Саксун (Saksun) можно провести не один час, что мы и сделали в первый день после сдачи лодок, несмотря на проливной дождь. Надо сказать, что этот дождь преобразил пейзаж: водопады наполнились водой и дружно зашумели. Под этот гул мы спускались в долину реки, которая разделяет деревушку Саксун на две части. Внизу у нас перехватило дыхание. То самое состояние, когда понимаешь, насколько величественна природа. </p>
                <p>Место, где мы стояли, оказалось дном приливно-отливного озера Поллур (Pollurin). Мы как раз застали отлив, но моё воображение сразу же нарисовало огромную волну возвращающейся воды. К счастью, приливы там небольшие, сантиметров 40. Мы шли всё дальше к океану, а сердце замирало от детского восторга. Промокшие, но довольные, вернулись к машинам и поехали искать место, где можно хоть чем-то перекусить. Такое место мы нашли на заправке и съели там сначала по одной сосиске в тесте, а потом на всякий случай ещё по одной: уж слишком мала вероятность встретить кафе или ещё одну крупную заправку на пути.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
