<div class="article">
    <div class="article__header">
        <picture class="article__header__image">
            <source media="(max-width: 320px)"
                    srcset="img/Unknown-17-xs.jpeg">
            <source media="(max-width: 768px)"
                    srcset="img/Unknown-17-md.jpeg">
            <source
                srcset="img/Unknown-17.jpeg">
            <img src="img/Unknown-17.jpeg" />
        </picture>
        <div class="article__header__container">
            <h2 class="article__header__title">КОМАНДА «СИЛЫ ВЕТРА»</h2>
            <p class="article__header__credits">http://silavetra.com</p>
        </div>
    </div>
</div>
