<div class="article">
    <div class="article__header">
        <picture class="article__header__image">
            <source media="(max-width: 320px)"
                    srcset="img/Unknown-12-xs.jpeg">
            <source media="(max-width: 768px)"
                    srcset="img/Unknown-12-md.jpeg">
            <source
                srcset="img/Unknown-12.jpeg">
            <img src="img/Unknown-12.jpeg" />
        </picture>
        <div class="article__header__container">
            <h2 class="article__header__title">ПЕШИЕ ПОХОДЫ</h2>
        </div>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <p class="article__content__text__first-p">После морского путешествия мы на пару дней взяли машины напрокат. Острова открылись нам с совершенно другой стороны, поразив своей красотой и влюбив в себя окончательно и бесповоротно.</p>
                <p>Часть островов соединены платными туннелями или мостами. На некоторые можно попасть только на пароме или вертолёте. Автомобильные дороги в основном двухполосные, но встречаются и однополосные, редкие машины разъезжаются через специальные «карманы» на обочинах. Если откуда-то с дороги открывается прекрасный вид на фьорды, будьте уверены — фарерцы уже сделали там смотровую площадку.</p>
            </div>
            <div class="article__content__additional_small article__content__additional article__content__additional_end">
                Интересно, что все деревья, которые есть на островах, завезены с Аляски или Огненной Земли. Чаще всего их можно увидеть во дворах состоятельных жителей. А вот зелёная трава прекрасно растёт даже на тонком слое почвы. Фарерцы давным-давно приспособились использовать траву для сохранения тепла: крыши многих домов покрыты своеобразным зелёным газоном.
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
