<div class="article">
    <div class="article__header">
        <img class="article__header__image" alt="ПОГОДА" srcset="img/Unknown-11.jpeg 1280w, img/Unknown-11-md.jpeg 768w, img/Unknown-11-xs.jpeg 320w" />
        <div class="article__header__container">
            <h2 class="article__header__title">ПОГОДА</h2>
        </div>
    </div>
    <div class="article__wrap">
        <div class="article__content">
            <div class="article__content__text">
                <p class="article__content__text__first-p">Мы знали про изменчивую фарерскую погоду и испытали все её особенности на себе. Обещали, что будет холодно, и не обманули.</p>
                <p>Температура в самый тёплый месяц года не поднималась выше 14 градусов днём, что при наличии сильного ветра в море создавало достаточно суровые условия. Обещали дожди, но тут нам повезло: основательный дождь шёл только в один из дней. В остальном погода соответствовала фарерской поговорке «Не нравится погода — подожди пять минут». Северное солнце за минуты сменялось густым, непроглядным туманом, за которым следовал дождь, а ещё через полчаса небо снова расчищалось.</p>
            </div>
            <div class=" article__content__additional_small article__content__additional article__content__additional_end">
                Встроенная печка на одной из яхт не раз нас спасала. На другой яхте система обогрева регулярно давала сбои из-за низкого заряда сервисной батареи — в кают-компании ребята спали в термобелье и зимних строительных комбинезонах.
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
