.article__wrap {
    max-width: none;
}

.article__content {
    max-width: none;
    margin-bottom: 10vh;
}

.article__content__text {
    float: none;
    width: 100%;
    max-width: 505px;
    min-width: 288px;
    margin: 0 auto 5vh;
}

.article__content__text > p:first-child {
    margin-top: -10px;
}

.article__content__additional {
    float: none;
    width: 100%;
    max-width: 350px;
    min-width: 256px;
    margin: 0 auto 5vh;
    font-size: 18px;
    line-height: 27px;
}

.article__content__additional_end {
    position: initial;
}

p.article__break-point {
    margin-bottom: 5vh;
}
