.article__content__text {
    margin: 0 5% 5vh;
    width: 90%;
}

.article__content__additional {
    margin: 0 10% 5vh;
    width: 80%;
}

.article__content__additional-simple {
    padding-left: 0;
    padding-right: 0;
}

.article__content__additional__image {
    margin: 0 auto 10px;
    width: 320px;
    display: block;
    padding: 0px;
}

.article__content__additional-simple__info {
    padding: 0 10%;
    font-size: 12px;
    line-height: 16px;
}
