.article__header__title {
    font-size: calc(4vh);
}

.article__header__info {
    font-size: x-small;
    margin-top: 10px;
}

.article__header__credits {
    width: 90%;
    margin: 0 5%;
    bottom: 35px;
    font-size: 13px;
    letter-height: 20px;
}
